/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    background-color: #ffffff; /* Light background for the section */
}

.hero-title {
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.hero-desc {
    font-size: 1rem;
    margin-top: 10px;
    color: #666;
    margin-bottom: 40px;
   
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cta-button, .cta-secondary {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.cta-button {
    border: 2px solid #007bff;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.cta-secondary {
    background-color: transparent;
    color: #000000;
    border: 2px solid #007bff;
}

.cta-button:hover, .cta-secondary:hover {
    background-color: #0056b3;
    color: white;
}
.hero-section {
    padding: 50px 0;
  }
  
  .main-heading {
    font-size: 3rem;
    font-weight: 700;
  }
  
  .description {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .app-image {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  

  

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .cta-buttons {
        flex-direction: column;
    }
    .app-image {
        width: 100%;
      }
}
